// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #000000 !default;
$header-bg-color: #BC8F8F !default;
$header-bg-color-secondary: #BC8F8F !default;

// Text
$section-headings-color: #800000 !default;
$body-text-color: #8B4513 !default;
$body-link-color: #B22222 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #0080ff !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
