// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ff40a9 !default;
$header-bg-color-secondary: #6B8E23 !default;

// Text
$section-headings-color: #349915 !default;
$body-text-color: #a70075 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #0080ff !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
